<div id="navbar">  
    <a class="nav-partial" href="/">Home</p>  
    <a class="nav-partial" href="/Clients">Clients</a>
    <a class="nav-partial" href="/Stylists">Stylists</a>
    <a class="nav-partial" href="/Stylists/Create">Add new Stylist</a>
    @Html.ActionLink("Add a client", "Create", "Clients", null, new {@class="nav-partial"})

</div>