@{
    Layout = "_Layout";
}


@model HairSalon.Models.Stylist

<h3>Edit this Stylist!</h3>

@using(Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.EditorFor(model => model.Name, new {@class="form-control"})
        <br>
        @Html.LabelFor(model => model.Price)
        @Html.EditorFor(model => model.Price, new {@class="form-control"})
    </div>
    <input class="btn btn-info" type="submit" value="Save Changes">
}